<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <jsp-config> 
        <jsp-property-group> 
            <url-pattern>*.jsp</url-pattern> 
            <include-prelude>/header.jsp</include-prelude>  use this 
        </jsp-property-group> 
    </jsp-config>-->
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>file_upload</servlet-name>
        <servlet-class>file_upload</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>RateBook</servlet-name>
        <servlet-class>RateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookFilters</servlet-name>
        <servlet-class>BookFilters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookSearch</servlet-name>
        <servlet-class>BookSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUser</servlet-name>
        <servlet-class>AdminUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateBook</servlet-name>
        <servlet-class>AdminUpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBooksEdit</servlet-name>
        <servlet-class>GetBooksEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersForList</servlet-name>
        <servlet-class>UsersForList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookForlist</servlet-name>
        <servlet-class>BookForlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BkEditCheck</servlet-name>
        <servlet-class>BkEditCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDocs</servlet-name>
        <servlet-class>UploadDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookEditImgUpload</servlet-name>
        <servlet-class>BookEditImgUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BkAudioImgUpload</servlet-name>
        <servlet-class>BkAudioImgUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRating</servlet-name>
        <servlet-class>ReadLater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookReadLater</servlet-name>
        <servlet-class>BookReadLater</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RdLtrForList</servlet-name>
        <servlet-class>RdLtrForList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLaterList</servlet-name>
        <servlet-class>UpdateLaterList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>file_upload</servlet-name>
        <url-pattern>/file_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateBook</servlet-name>
        <url-pattern>/RateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookFilters</servlet-name>
        <url-pattern>/BookFilters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSearch</servlet-name>
        <url-pattern>/BookSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUser</servlet-name>
        <url-pattern>/AdminUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateBook</servlet-name>
        <url-pattern>/AdminUpdateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBooksEdit</servlet-name>
        <url-pattern>/GetBooksEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersForList</servlet-name>
        <url-pattern>/UsersForList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookForlist</servlet-name>
        <url-pattern>/BookForlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BkEditCheck</servlet-name>
        <url-pattern>/BkEditCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDocs</servlet-name>
        <url-pattern>/UploadDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BkAudioImgUpload</servlet-name>
        <url-pattern>/BkAudioImgUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRating</servlet-name>
        <url-pattern>/BookRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookReadLater</servlet-name>
        <url-pattern>/BookReadLater</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RdLtrForList</servlet-name>
        <url-pattern>/RdLtrForList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLaterList</servlet-name>
        <url-pattern>/UpdateLaterList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
